<html>
<head>
<title>PC section</title>
<div id="header">
<h1>PC Store</h1>
</div>
</head>
<body>
<a href="/"><button> Начало </button></a>
<p align=left> <img src="/static/pc2.jpg" /> 
<ol>
<li> Intel Core i3-8100 (3.60 GHz, 6M)
<li> Intel UHD Graphics 630
<li>4 GB DDR4 2400 MHz
<li>1TB 7200rpm
</ol></br></br> </br> </br> 
<img src="/static/PC3.jpg" width="250" height="350" /> </br> 
</ol>
<li>AMD Ryzen 3 1200 (3.1GHz, 8M)
<li>AMD Ryzen 3 1200 (3.1GHz, 8M)
<li>NVIDIA GTX1050Ti 4GB
<li>8 GB DDR4 2666 MHz
<li>1TB 7200rpm
<li>250 GB SSD
</ol></p>

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>
</body>
</html>